spring:
  jpa:
    hibernate:
      ddl-auto: update
    properties:
      hibernate:
        format_sql: true
    show-sql: true
  datasource:
    hikari:
      maximum-pool-size: 4
    url: jdbc:mariadb://localhost:3306/sns
    username: ${SPRING_DATASOURCE_USERNAME}
    password: ${SPRING_DATASOURCE_PASSWORD}
    driver-class-name: org.mariadb.jdbc.Driver

jwt:
  secret-key: jinwoo-dev.simple-sns-application.secret-key
  # 30days 30(일) * 24(시간) * 60(분) * 60(초) * 1000(ms)
  token.expired-time-ms: 2592000000